header {
    background: #CCCCCC;
    padding: 20px 0;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.container-header {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    align-items: center;
}

nav li {
    display: inline;
    margin: 0 0 0 15px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #C78C19;
    text-decoration: underline;
}

.project-container {
    background-color: #888888;
    padding: 24px 20%;
}
.project-container > li > h2 {
    margin-bottom: 14px;
    color: #FFFFFF;
    font-weight: bold;
}

.project-container > li > img {
    margin-bottom: 14px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 16px;
    background: url("../img/bg.jpg");
    padding: 40px 0;
    color: #FFFFFF;
}
.footer-contacts {
    display: flex;
    justify-content: space-around;
}

.footer-list {
    margin-bottom: 14px;
}
